
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{% static 'bower_components/material-design-lite/material.min.css'%}" rel="stylesheet" />
	<script src="{% static 'bower_components/material-design-lite/material.min.js'%}" type="text/javascript" ></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
    <link href="{% static 'css/baseStyle.css'%}" rel="stylesheet" />
    <title>Virtual Store</title>
</head>
<body>
<div class="demo-layout-waterfall mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Virtual Store</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable md-36">
                    <input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp">
                </div>
          </div>
          <div class="mdl-layout-spacer"></div>
          <i class="material-icons mdl-badge mdl-badge--overlap md-36" data-badge="100">shopping_cart</i>

    </div>
    <!-- Bottom row, not visible on scroll -->
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a id="arduino" class="mdl-navigation__link">Arduino</a>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="arduino">
                  <li class="mdl-menu__item">Placa</li>
                  <li class="mdl-menu__item">Shield</li>
                  <li class="mdl-menu__item">PIC</li>
          </ul>
        <a id="raspberry" class="mdl-navigation__link">Raspberry</a>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="raspberry">
                  <li class="mdl-menu__item">Placa</li>
                  <li class="mdl-menu__item">Shield</li>
                  <li class="mdl-menu__item">PIC</li>
          </ul>
        <a id="pic" class="mdl-navigation__link">PIC</a>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="pic">
                  <li class="mdl-menu__item">Placa</li>
                  <li class="mdl-menu__item">Shield</li>
                  <li class="mdl-menu__item">PIC</li>
          </ul>
        <a id="motores" class="mdl-navigation__link">Motores</a>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="motores">
                  <li class="mdl-menu__item">Servo</li>
                  <li class="mdl-menu__item">Passo</li>
                  <li class="mdl-menu__item">DC</li>
          </ul>
        <a id="ferramentas" class="mdl-navigation__link">Ferramentas</a>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="ferramentas">
                  <li class="mdl-menu__item">Medição</li>
                  <li class="mdl-menu__item">Corte</li>
                  <li class="mdl-menu__item">Jumpers</li>
                  <li class="mdl-menu__item">Soldagem</li>
                  <li class="mdl-menu__item">Protoboard</li>
          </ul>
        <a id="componentes" class="mdl-navigation__link">Componentes Eletrônicos</a>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="componentes">
                  <li class="mdl-menu__item">Resistores</li>
                  <li class="mdl-menu__item">Reguladores</li>
                  <li class="mdl-menu__item">Capacitores</li>
                  <li class="mdl-menu__item">Transistores</li>
                  <li class="mdl-menu__item">Circuitos Integrados</li>
          </ul>
        <a href="" class="mdl-navigation__link">Display</a>
        <a href="" class="mdl-navigation__link">Comunicação</a>
        <a href="" class="mdl-navigation__link">Fontes</a>
        <a href="" class="mdl-navigation__link">Sensores</a>
      </nav>
    </div>
    </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Categorias</span>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
            </nav>
      </div>
    <div class="mdl-layout__content" style="background-color: #fafafa">
      <main>
        <div class="page-content" style="padding-left: 60px">
            <div class="mdl-grid">
                <div class="demo-card-square mdl-card mdl-shadow--2dp base">
                      <div class="mdl-card__title imagem">
                          <img src="{% static 'imagens/prodSemFoto.jpg' %}" alt="">
                      </div>
                      <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                      <div  align="center" class="mdl-card__actions mdl-card--border botao">
                           <label class="mdl-typography--font-bold fonte">R$100,00</label>
                          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
                            <i href="" class="material-icons">add_shopping_cart</i>
                          </button>
                      </div>
                </div>
                <div class="demo-card-square mdl-card mdl-shadow--2dp base">
                      <div class="mdl-card__title imagem">
                          <img src="{% static 'imagens/prodSemFoto.jpg' %}" alt="">
                      </div>
                      <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                      <div  align="center" class="mdl-card__actions mdl-card--border botao">
                           <label class="mdl-typography--font-bold fonte">R$100,00</label>
                          <button class="mdl-button mdl-js-button  mdl-button--fab mdl-button--icon">
                            <i href="" class="material-icons">add_shopping_cart</i>
                          </button>
                      </div>
                </div>
                <div class="demo-card-square mdl-card mdl-shadow--2dp base">
                      <div class="mdl-card__title imagem">
                          <img src="{% static 'imagens/prodSemFoto.jpg' %}" alt="">
                      </div>
                      <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                      <div  align="center" class="mdl-card__actions mdl-card--border botao">
                           <label class="mdl-typography--font-bold fonte">R$100,00</label>
                          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
                            <i href="" class="material-icons">add_shopping_cart</i>
                          </button>
                      </div>
                </div>
                <div class="demo-card-square mdl-card mdl-shadow--2dp base">
                      <div class="mdl-card__title imagem">
                          <img src="{% static 'imagens/prodSemFoto.jpg' %}" alt="">
                      </div>
                      <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                      <div  align="center" class="mdl-card__actions mdl-card--border botao">
                           <label class="mdl-typography--font-bold fonte">R$100,00</label>
                          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
                            <i href="" class="material-icons">add_shopping_cart</i>
                          </button>
                      </div>
                </div>
                <div class="demo-card-square mdl-card mdl-shadow--2dp base">
                      <div class="mdl-card__title imagem">
                          <img src="{% static 'imagens/prodSemFoto.jpg' %}" alt="">
                      </div>
                      <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                      <div  align="center" class="mdl-card__actions mdl-card--border botao">
                           <label class="mdl-typography--font-bold fonte">R$100,00</label>
                          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
                            <i href="" class="material-icons">add_shopping_cart</i>
                          </button>
                      </div>
                </div>
                <div class="demo-card-square mdl-card mdl-shadow--2dp base">
                      <div class="mdl-card__title imagem">
                          <img src="{% static 'imagens/prodSemFoto.jpg' %}" alt="">
                      </div>
                      <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                      <div  align="center" class="mdl-card__actions mdl-card--border botao">
                           <label class="mdl-typography--font-bold fonte">R$100,00</label>
                          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
                            <i href="" class="material-icons">add_shopping_cart</i>
                          </button>
                      </div>
                </div>
                <div class="demo-card-square mdl-card mdl-shadow--2dp base">
                      <div class="mdl-card__title imagem">
                          <img src="{% static 'imagens/prodSemFoto.jpg' %}" alt="">
                      </div>
                      <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                      <div  align="center" class="mdl-card__actions mdl-card--border botao">
                           <label class="mdl-typography--font-bold fonte">R$100,00</label>
                          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
                            <i href="" class="material-icons">add_shopping_cart</i>
                          </button>
                      </div>
                </div>
                <div class="demo-card-square mdl-card mdl-shadow--2dp base">
                      <div class="mdl-card__title imagem">
                          <img src="{% static 'imagens/prodSemFoto.jpg' %}" alt="">
                      </div>
                      <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                      <div  align="center" class="mdl-card__actions mdl-card--border botao">
                           <label class="mdl-typography--font-bold fonte">R$100,00</label>
                          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
                            <i href="" class="material-icons">add_shopping_cart</i>
                          </button>
                      </div>
                </div>
                <div class="demo-card-square mdl-card mdl-shadow--2dp base">
                      <div class="mdl-card__title imagem">
                          <img src="{% static 'imagens/prodSemFoto.jpg' %}" alt="">
                      </div>
                      <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                      <div  align="center" class="mdl-card__actions mdl-card--border botao">
                           <label class="mdl-typography--font-bold fonte">R$100,00</label>
                          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
                            <i href="" class="material-icons">add_shopping_cart</i>
                          </button>
                      </div>
                </div>
                <div class="demo-card-square mdl-card mdl-shadow--2dp base">
                      <div class="mdl-card__title imagem">
                          <img src="{% static 'imagens/prodSemFoto.jpg' %}" alt="">
                      </div>
                      <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </div>
                      <div  align="center" class="mdl-card__actions mdl-card--border botao">
                           <label class="mdl-typography--font-bold fonte">R$100,00</label>
                          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
                            <i href="" class="material-icons">add_shopping_cart</i>
                          </button>
                      </div>
                </div>

            </div>
        </div>

      </main>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Redes Sociais</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href=""><img src="{% static 'icons/facebook.png' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'icons/linkedin.png' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'icons/twitter.png' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'icons/google-plus.png' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'icons/blogger.png' %}" alt=""></a></li>
                        Telefone: XXXXX-XXXX
                        WhatsApp: XXXXX-XXXX
                        Telegram: XXXXX-XXXX <br>
                        Email: virtialstore@gmail.com
                </ul>
          </div>
        </footer>
    </div>

</div>

</body>

</html>