.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.base
{
  margin-left: 20px;
  margin-top: 10px;
  width: 200px;
  height: 270px;
}
.imagem
{

  margin-left: auto;
  margin-right: auto;

}
a
{
  text-decoration: none;

}

.md-36{font-size: 36px;}
.valor {margin-top: 10px;}
.fonte{font-size: 20px}
