.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.base
{
  margin-left: 50px;
  margin-top: 50px;
}
.imagem
{
  width: 150px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;

}
a
{
  text-decoration: none;

}

.md-36{font-size: 36px;}

